.flexContainer {
  width: 80%;
  margin: 0 auto;
  margin-top: 1rem;

  .topArea {
    display: flex;
    justify-content: space-between;

    .topLeft {
      display: flex;

      img {
        width: 150px;
        height: 150px;
        border-radius: 300px;
        object-fit: cover;
        margin-top: 1em;
      }

      .topMainInfo {
        > * {
          margin: 10px;
        }

        h2 {
          font-size: xx-large;
        }

        .chip {
          display: inline-block;
          padding: 0.5rem 1rem;
          margin: 10px;
          border-radius: 30px;
          background-color: #e5ddfb;
          font-weight: 500;
          font-size: 0.9rem;
          text-transform: capitalize;
        }

        p:not(first-of-type) {
          color: gray;
        }
      }
    }

    .topRight {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: space-around;
      text-align: right;
      padding-right: 15px;
    }
  }

  .mainArea {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    > * {
      border: 1px solid gray;
      border-radius: 3px;
      margin: 2px;
    }

    .mainLeft {
      width: 60%;

      > * {
        padding: 5px;
      }

      .businessDescription {
        min-height: 100px;

        > * {
          margin: 0;
        }
      }

      .galleryContainer {
        min-height: 100px;

        > * {
          margin: 0;
        }
      }
    }

    .mainRight {
      width: 40%;

      > * {
        padding: 5px;
      }
    }
  }
}
