header {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 5px;
  padding: 15px;
  border-bottom: 1px solid rgb(200, 200, 200);
  background-color: whitesmoke;
  z-index: 999;

  .headerLeft {
    margin-left: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;

    img {
      width: 150px;
    }

    nav > * {
      text-decoration: none;
      margin: 15px;
    }

    .active {
      font-weight: bold;
    }
  }

  .headerRight {
    margin-right: 100px;
    display: flex;
    align-items: center;

    button {
      margin: auto;
    }
  }
}
